@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color:
        #0B0D17;
    height: 60px;
    align-items: center;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 14px;

}

.a1 {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;

}


main>.container {
    display: flex;
    align-items: center;
    height: 70vh;

}

.sp2 {
    border: none;
    color: #60CDF6;
    font-weight: 400;
}


.sp3 {
    border: none;
    font-weight: 400;
}




.a2 {
    color: #60CDF6;
}


nav>button {
    border: none;
    border-radius: 15px;
    padding: 9px 18px;
    background-color:
        #31333D;
    color: #FFFFFF;
    font-size: 14px;
}

main {
    background-image: url(img/bg.png);
    background-size: cover;
    width: 100%;



}







.kurs {
    display: flex;
    color: #FFFFFF;
    gap: 20px;

    font-size: 38px;

}


.qwerty>h1 {
    font-size: 38px;
}


.kurs>button {
    width: 86px;
    height: 22px;
    background-color: #EF3833;
    color: #FFFFFF;
    border: 1px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 46px;
}


.text {
    font-size: 38px;
    color: #FFFFFF;
}


.it {
    font-size: 22px;
    font-weight: 300;
    color: #FFFFFF;
}

.qwerty {
    margin: 0 183px;
    margin-top: 106px;
}

.it>p {
    font-weight: 300;
}

span {
    border-bottom: solid 1px;
}


.bt1 {
    color: #FFFFFF;
}

.bt1>button {
    margin-top: 30px;
    padding: 16px 24px;
    border: none;
    background-color: #53C2EC;
    border-radius: 4px;
    color:
        #FFFFFF;
    font-size: 16px;

}




.r1 {

    font-size: 16px;
    height: 92px;
    display: flex;
    text-align: end;
    position: relative;
    margin: 0 400px;
    color: #FFFFFF;
}





.r1>img {
    position: absolute;
    margin: 0 280px;
}





.men1>.tx {
    color: #242935;
    font-size: 24px;
}


.men1>.tx2 {
    color: #51555E;
    font-weight: 400;
    font-size: 18px;
}

.men0 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}





.image {
    display: flex;
    align-items: center;
    gap: 22px;
}


.men2 {
    display: flex;
    gap: 16px;
    align-items: center;
}


.men2>p {

    color:
        #A1A6B1;

}


.men2>button {


    padding: 15px 33px;
    border: none;
    background-color: #53C2EC;
    border-radius: 4px;
    color:
        #FFFFFF;
    font-size: 16px;


}


.section1 {
    height: 274px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.genshin {
    display: flex;
    align-items: center;
    height: 420px;
    gap: 30px;
    justify-content: center;
}




.video>iframe {
    border: none;
    border-radius: 12px;
}


.p {
    margin-top: 12px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 40px;
    gap: 6px;
    font-size: 14px;
    font-weight: 400;


}


.arrow>i {
    border: solid;
    border-radius: 20px;
    padding: 1px 3px;
}

.mountains {
    background-image: url(img/mountains.png);
    height: 600px;
    background-size: cover;
    width: 100%;
    width: 100%;
}



.ass {
    color: white;
    font-weight: 700;
    font-size: 38px;
}

.asss {

    margin: 0 110px;
    padding: 70px;
}


.gun1 {
    display: flex;


}


.gun2 {
    display: flex;


}


.gun3 {
    display: flex;

}


.gun4 {
    display: flex;


}


.gun1>h1 {
    color: white;
    font-size: 120px;
    font-weight: 700;
}



.gun2>h1 {
    color: white;
    font-size: 120px;
    font-weight: 700;
}



.gun3>h1 {
    color: white;
    font-size: 120px;
    font-weight: 700;
}



.gun4>h1 {
    color: white;
    font-size: 120px;
    font-weight: 700;
}


.gun1>i {
    color:
        #60CDF6;
}


.gun2>i {
    color: #EF3833;

}


.gun3>i {
    color: #60CDF6;

}


.gun4>i {
    color: #EF3833;

}


.pp {
    margin-top: 32px;
    color: #D9D9D9;
}


.st1>p {
    color: #D9D9D9;
}


.st1>.hh {
    color: white;
    font-size: 18px;
}

.st2>.hh {
    color: white;
    font-size: 18px;
}


.st3>.hh {
    color: white;
    font-size: 18px;
}


.st4>.hh {
    font-size: 18px;
    color: white;
}

.ppp {
    margin-top: 10px;
}


.stars {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
    position: relative;
}



.kim {
    background-color:
        #F5F5F5;
}

.hhhh {
    color:
        #242935;
    text-align: center;
    padding: 50px;
    font-size: 38px;

}


.diz {
    display: flex;
    justify-content: center;
    gap: 150px;
}


.di {
    display: flex;
    align-items: center;
    gap: 44px;

}

.di>i {
    border: none;
    background-color:
        #60CDF6;
    border-radius: 17px;
    padding: 6px;
}


.di>p {
    color:
        #242935;
    font-size: 16px;
    font-weight: 700;
}


.ki {
    height: 349px;
}

.ki>p {
    text-align: center;
    margin-top: 50px;
    color:
        #51555E;
}


.png>img {

    width: 100%;


}


.sam {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 45%;
    margin: 0 auto;
    gap: 30px;
    
    align-items: center;
    


}

.sam2 {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content:space-between;
    gap: 30px
    ;
    width: 60%;
    border-radius:10px;
    

}



.def {
    display: flex;
    gap: 17px;
    margin-top: 20px;
}

.likk {
    display: flex;
    gap: 8px;
    align-items: center;

}

.likk>i {
    border: solid;
    border-color: #53C2EC;
    padding: 2px 4px;
    border-radius: 30px;
    color: #53C2EC;
}

.lik {
    font-size: 14px;
    color:
        #828282;
    margin-top: 20px;
}

.mualif {
    font-size: 12px;
    color: #0B0D17;
    font-weight: 600;
}

.soat>i {


    color: #53C2EC;
}

.soat {
    display: flex;
    gap: 8px;
    align-items: center;
}



.board {
    background-color: white;
}


.kuku {
    text-align: center;
    padding: 30px;
    font-size: 38px;
}


.bat {
    display: flex;
    gap: 37px;
    margin-top: 20px;

}



.dollars {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #F5F5F5;
    padding: 1px 5px;
    border-radius: 10px;

}




.dol1>h1 {
    font-size: 22px;
    font-weight: 500;
}


.dol1>p {
    font-size: 10px;
    color: #828282;
}






.kk {
    background-color: #F5F5F5;
}


.men3>button {
    padding: 10px 10px;
    border: none;
    background-color: #53C2EC;
    border-radius: 4px;
    color:
        #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: end;
}

.men3 {
    margin-top: 50px;
}

.sam {
    border: solid;
    margin-top: 30px;
    border-radius: 800px;
    padding: 10px;
   
    border: none;
}




.call {
    background-image: url(img/darkblue.png);
    background-size: cover;
    width: 100%;
}


.skidka {
    display: flex;
    align-items: center;
    justify-content: center;
}


.bigskidka>h1 {
    color: white;
    font-size: 38px;
}


.bigspan {
    color: #53C2EC;
    border-bottom: none;
}


.bigskidka>p {
    color: #B8BCC5;
    font-size: 20px;


}



.bigskidka>button {
    padding: 15px 40px;
    border: none;
    background-color: #53C2EC;
    border-radius: 4px;
    color:
        #FFFFFF;
    font-size: 16px;
}


.calls {

    background-color:
        #FAFAFA;

}



.calls>.container {
    background-color:
        #FAFAFA;
}


.oquv {
    color: #242935;
    font-weight: 700;
    font-size: 38px;


}


.film {
    display: flex;
    align-items: center;
    gap: 30px;
}



.films {
    padding: 99px;
    margin-left: 283px;
}

.cool {
    display: flex;
    gap: 170px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 156px;
    background-color: #0B0D17;
    padding: 20px;
}

.span4 {
    
    color: #60CDF6;
}


.span4 > a {
    text-decoration: none;
    color: #60CDF6;
}

.df>a {
    text-decoration: none;
    color: #FFFFFF;

}

.pomogite {
    width: 70px;
    height: 30px;
    border: 1px solid #31333D;
    background-color: #23252E;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.csgo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
}

.help {
    width: 100%;
    height: 60px;
    background-color: #090B14;
}

.dead {
    color: #444444;
    font-weight: 400;
    font-size: 14px;
    width: 580px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.csgo > a {
    text-decoration: none;
    color: 
    #FFFFFF;
}


.social {
    display: flex;
    gap: 10px;

}


.komron {
    border: solid;
    padding: 32px 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 5px darkgray;

}


.komron3 {
    display: flex;
    align-items: center;
    gap: 21px;
}

.kam > p {
    color: #6F6C90;
}


.allstar {
    display: flex;
    justify-content: end;
    gap: 2px;
    color: 
    #EF3833;
}



.mir {
    border-bottom: none;
    color: #60CDF6;
}
